/* Text colors */
.text-primary{
    color: green;
}
.text-secondary{
    color:blue
}
/* Button */
.btn{
    cursor:pointer;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: #333;
    border-end-end-radius: none;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.9;
}
.btn-primary, .bg-primary {
    background-color: #333;
    color: white;
}
.btn-secondary{
    background-color: rgb(21, 89, 107);
    cursor:pointer;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border-end-end-radius: none;
    border-radius: 5px;
}

.btn-primary{
    background-color: #333;
    color: white;
}
.btn-outline{
    background: transparent;
    border: 1px solid white;
}
/* Flex columns */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
} 

.flex-columns .column .column-1,
.flex-columns .column .column-2{
    height: 100%;
}
.flex-columns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 100%; */
}

.flex-columns .column-2{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}
.flex-columns p{
    margin: 20px 0;
}

/* Section header */
.section-header{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section-header h4{
    font-size: 40px;
    margin: 20px 0;
}
.section-padding{
    padding: 20px 20px 40px;
}

/* Flex grid */
.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
.flex-grid .column{
   flex:33.33%;
   max-width: 33.33%;
   padding: 0 4px;
}